.pokemon-card-wrapper {
    width: 150px;
    margin: auto;
    padding: 15px;
    
    border-radius: 10px;
    
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(40,116,255,1) 100%);
    box-shadow: rgba(0, 0, 0, 0.15) 3.5px 3.5px 4.6px;

    text-align: center;
    text-transform: capitalize;

    cursor: pointer;

    &:hover {
        transition: all 0.2s ease-in-out;

        color: var(--primary-yellow);
        width: 155px;
        box-shadow: rgba(0, 0, 0, 0.5) 3.5px 3.5px 4.6px;
    }
}