.search-bar-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    height: 45px;

    .search-bar-input {
        width: 500px;
        padding: 5px;
        border-radius: 4px;
        border: 1px solid black;
    }

    .search-bar-button {
        margin-left: 5px;
        border: 2px solid var(--primary-blue);
        border-radius: 10px;
        padding: 6px;

        background-color: var(--primary-yellow);
    }
}