.search-bar-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;

    .input-section {
        .radio-inputs {
            display: flex;
            margin-bottom: 15px;
            gap: 5px;
            color: lightgray;
        }

        .search-bar-input {
            width: 550px;
            padding: 10px;
            border-radius: 10px;
            border: 2px solid var(--primary-blue);
        }

        .search-bar-button {
            border: none;
            border-radius: 10px;
            margin-left: 5px;
            padding: 12px;
    
            background-color: var(--primary-yellow);
    
            &:hover {
                color: white;
                transition: all 0.1s ease-out;
            }
        }
    }

}