.details-page-wrapper {
    width: 100%;

    .details-page-content {
        width: 70%;
        height: 450px;
        margin: auto;
        
        display: flex;
        gap: 35px;

        box-shadow: rgba(0, 0, 0, 0.15) 3.5px 3.5px 4.6px;
        border-radius: 25px;
        background-color: #bcbcbc;
        
        .pokemon-sprites {
            padding: 35px;
            margin: 50px;
            height: auto;
            width: 40%;

            border-radius: 25px;
            text-align: center;
            
            box-shadow: rgba(0, 0, 0, 0.15) 3.5px 3.5px 4.6px;

            .pokemon-sprite {
                margin-bottom: 20px;
                height: 65%;
                border-radius: 25px;
                
                .sprite {
                    border-radius: 15px;
                    border: 3px solid black;

                    &.default {
                        border-color: black;
                        background-color: beige;
                    }

                    &.shiny {
                        border-color: gold;
                        background-color: seashell;
                        mask-image: linear-gradient(-75deg, rgba(0,0,0,.8) 30%, #000 50%, rgba(0,0,0,.8) 70%);
                        mask-size: 200%;
                        animation: shine 2s infinite;
                    }

                }

            }

            .choose-sprite {                
                .sprite-toggle {
                    display: flex;
                    gap: 5px;
                    justify-content: center;
                }
            }
        }
        
        .pokemon-information {
            padding: 50px;

            h1 {
                text-transform: capitalize;
                font-weight: 500;
            }

            .pokemon-types {
                display: flex;
                gap: 10px;

                .type-tag {
                    border-radius: 10px;
                    padding: 5px 10px;

                    box-shadow: rgba(0, 0, 0, 0.25) 1.5px 1.5px 2.6px;
                    color: aliceblue;
                    text-transform: capitalize;
                    cursor: pointer;
                    
                    &:hover {
                        transition: all 0.2s ease-in;
                        box-shadow: rgba(0, 0, 0, 0.5) 1.5px 1.5px 2.6px;
                    }
                }
            }

            .pokemon-stats {
                display: grid;
                grid-template-columns: repeat(3, 1fr);

                .stat-tag {
                    text-transform: capitalize;
                }
            }
        }
    }
}

@keyframes shine {
    from {
        mask-position: 150%;
    }
    
    to {
        mask-position: -50%;
    }
}